.bloque4 {
    display: flex;
    gap: 20px;
}
.bloque4 .card {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.bloque4 img {
    width: 100%;
    border-radius: 10px;
}
