.tabla {
    width: 100%;
    border-collapse: collapse;
}
.tabla th, .tabla td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align:  center;
}
.tabla tr:hover {
    background: #f7f7f7;
}
